.body .COLS{
     -webkit-box-pack:center;
    -moz-box-pack:center;
    -webkit-flex-pack:center; 
}

.body-center{
    width:300px;
}



.qrcode_container img{
     box-shadow:0px 0px 0px rgba(0,0,0,0.6);
    width:132px;
    height:132px;
     border:solid 30px rgba(0,0,0,0.1);
    border-radius:10px;
}