
.PADDER30 {
    top:30px; left:30px
}


.bg{
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.45);
    font-weight: lighter;
    position: fixed; top:0px; left: 0px; width: 100%; height: 100%; background-image: url('img/bg_1.jpg'); background-size: 100% 100%; color:white;
}

.bg.off{
    background-image: url('img/bg_0.jpg');
}

.off{
    color: black;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.45);
    font-weight: lighter;
}


.blured{
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }

